<div style="border-bottom: 1px solid #DDD; padding: 10px;">  
  <b>Name : </b><%= product.name %><br />  
  <b>Product : </b><%= product.price %><br />
  <%= product.description %><br />
  
  <%= link_to "Show", product %> |
  <%= link_to "Edit", edit_product_path(product) %> |
  <%= link_to "Destroy", product, :confirm => 'Are you sure?', :method => :delete %><br />
</div>